server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/travel_db
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  graphql:
    graphiql:
      enabled: true
  logging:
    level:
      org.springframework.graphql: DEBUG
