spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/travel_db
    username: postgres
    password: postgres
  
  jpa:
    show-sql: true
    properties:
      hibernate:
        ddl-auto: update
        format_sql: true  

  graphql:
    graphiql:
      enabled: true
    path: /graphql

  logging: level.org.hibernate.type.descriptor.sql=trace
  
  redis:
      host: localhost
      port: 6379